.App {
  text-align: center;
  margin-top: 0;
  flex-direction: column;
  align-items: center;
  }

body{background-color: aliceblue;}




#city {
  width: 250px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container{
  background-color:#1a8e92; 
}

.App-link {
  color: #61dafb;
}

.event-container{
  list-style: none;
  border: 1px solid #ccc;
  text-align: left;
  margin: 8px;
  padding-bottom: 3px;
  padding: 8px;
  position: relative;
}

.event-container button{
  right: 5px;
  bottom: 5px;
  padding: 8px;
  position: absolute;
  background-color: hsl(184, 89%, 14%);
  color: #ffffff;
  border-radius: 8px;
  border:none;
}

input[type="text"],
input[type="number"] {
  padding:8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  align-self: center;
  height: 38px;
  margin: 8px;
}

#city-search{
  display: flex;
  flex-direction: column;
  position: relative;
}

#number-of-events{
  padding: 4px;
}

.suggestions {
  width: 250px;
  position:absolute;
  align-self: center;
  top: 45px;
  z-index: 2;
  margin: 0;
}

.suggestions > li {
  background-color: #ccc7c7;
  cursor: default;
  list-style: none;
  text-align: left;
  padding:8px;
}

.suggestions > li:hover {
  background-color: #9ea2a2;
}

.alerts-container {
z-index: 1000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
